[Unit]
Description=Kubernetes Kubelet Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/data/var/lib/kubelet
EnvironmentFile=-/etc/kubernetes/kubelet
ExecStart=/usr/bin/kubelet \
            $KUBE_LOGTOSTDERR \
            $KUBE_LOG_LEVEL \
            $KUBE_ALLOW_PRIV \
            $KUBELET_ADDRESS \
            $KUBELET_PORT \
            $KUBELET_HOSTNAME \
            $KUBELET_NETWORK_ARGS \
            $KUBELET_SYSTEM_PODS_ARGS \
            $KUBELET_KUBECONFIG_ARGS \
            $KUBELET_DNS_ARGS \
            $KUBE_CLOUD_PROVIDER \
            $KUBELET_AUTHZ_ARGS \
            $KUBELET_CGROUP_ARGS \
            $KUBELET_EXTRA_ARGS \
            $KUBELET_FLAGS
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target






