{
    "live-restore": true,
    "graph": "/data/var/lib/docker",
    {{$registries := getv "/env/insecure-registries"}}
    {{if ne $registries ""}}
    "insecure-registries": {{split $registries " "|toJson}},
    {{end}}
    "ipv6": false
}