{
    "live-restore": true,
    "graph": "/data/var/lib/docker",
    {{$registries := getv "/env/insecure-registries"}}
    {{if ne $registries ""}}
    "insecure-registries": {{split $registries " "|toJson}},
    {{end}}
    {{$registry-mirrors := getv "/env/registry-mirrors"}}
    {{if ne $registry-mirrors ""}}
    "registry-mirrors": {{split $registry-mirrors " "|toJson}},
    {{end}}
    "storage-driver": "overlay2"
}