{{- $server := getv "/env/fluent-forward-server" -}}
{{- if ne $server "" -}}
{{- $parts := split $server ":" -}}
[OUTPUT]
    Name          forward
    Match         *
    Host          {{index $parts 0}}
    Port          {{index $parts 1}}
{{- end -}}