{
    "cniVersion": "0.3.0",
    "name": "hostnic",
    "type": "hostnic",
    "bindaddr":"localhost:31080",
    "ipam":{
      "routes":[{"dst":"10.96.0.0/16","gw":"0.0.0.0"}]
    },
    "isGateway": true
}
