{{$flag:=getv "/env/enable_hostnic"}}
{{if or (eq "hostnic" $flag) (eq "true" $flag) }}
{
    "cniVersion": "0.3.1",
    "name": "hostnic",
    "type": "hostnic",
    "bindaddr":"localhost:31080",
    "ipam":{
      "routes":[{"dst":"10.96.0.0/16","gw":"0.0.0.0"}]
    },
    "isGateway": true
}
{{end}}
